body{
    background-color:#383838;
    font-family: 'Exo 2', sans-serif;
  }
  .menu{
    height: 0 !important;
  }
  .sidebar-close, .sidebar-close *, .sidebar-close:before{
    transition: all 0.24s ease-in-out;
  }
  .sidebar-close {
    width: 6%;
    height: 100%;
    position: fixed;
    top: 385px;
    transform: translate(0%,-50%);
    background-color: #120055;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.sidebar-close a{
  padding: 0.5%;
}
  .doc-fields {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/writing.svg);
    background-repeat: no-repeat;
  }
  .views-add {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/file.svg);
    background-repeat: no-repeat;
}
.doc-list {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/file2.svg);
    background-repeat: no-repeat;
}
.doc-details {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(../images/icons/add-file.svg);
  background-repeat: no-repeat;
}
.send-doc {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(../images/icons/email.svg);
  background-repeat: no-repeat;
}
  .sidebar, .sidebar *, .sidebar:before{
    transition: all 0.24s ease-in-out;
  }
  .sidebar {
    width: 6%;
    height: 100%;
    position: fixed;
    top: 385px;
    transform: translate(0%,-50%);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
  .sidebar li{
    opacity:0;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-close li{
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar:before{
    text-align: center;
    position:absolute;
    right:10px;
    top:50%;
    transform: translate(0%,-50%);
    color:#fff;
    background-color: #120055;
    font-size:2em;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  }
  .sidebar:hover:before{
    opacity:0;
  }
  .sidebar:hover{
    margin-left:0px;
    width:20%;
    background-color: #120055;

 }
  .sidebar:hover li{
    opacity:1;
  }
  .sidebar a{
    text-decoration:none;
    color:#fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .sidebar a:hover{
    color:#fff;
  }
  .sidebar li{
    height:11vh;
  }
  .sidebar li:hover{
    background-color: #AD113D;
  }
  .sidebar li:last-child{
    border-bottom:none;
    border-radius: 0px 0px 5px 0px;
  }
  .sidebar li:first-child{
    border-radius: 0px 5px 0px 0px;
  }

  .doc-fields {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/writing.svg);
    background-repeat: no-repeat;
  }
  .views-add {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/file.svg);
    background-repeat: no-repeat;
}
.doc-list {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(../images/icons/file2.svg);
    background-repeat: no-repeat;
}
.doc-details {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(../images/icons/add-file.svg);
  background-repeat: no-repeat;
}
.send-doc {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(../images/icons/email.svg);
  background-repeat: no-repeat;
}


@media screen and (max-width:800px){
    .menu{
        visibility: hidden;
    }
}
